apiVersion: v1
kind: Pod
metadata:
  labels:
    app: etcd
  name: etcd
  namespace: {{ namespace }}
spec:
  containers:
  - args:
      - "etcd"
      - "--name=default"
      - "--listen-client-urls=http://0.0.0.0:2379"
      - "--advertise-client-urls=http://etcd-cluster:2379"
      - "--client-cert-auth=false"
      - "--listen-peer-urls=http://0.0.0.0:2380"
      - "--initial-advertise-peer-urls=http://etcd-cluster:2380"
      - "--peer-client-cert-auth=false"
      - "--initial-cluster=default=http://etcd-cluster:2380"
      - "--data-dir=/var/lib/etcd"
      - "--initial-cluster-state=new"
    image: k8s.gcr.io/etcd:3.2.24
    name: etcd
    ports:
    - containerPort: 2379
      name: client
      protocol: TCP
    - containerPort: 2380
      name: peer
      protocol: TCP
    volumeMounts:
    - mountPath: /var/lib/etcd
      name: datadir
  volumes:
  - name: datadir
    emptyDir: {}
  restartPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: etcd
  name: etcd-cluster
  namespace: {{ namespace }}
spec:
  ports:
  - name: client
    port: 2379
    protocol: TCP
    targetPort: 2379
  - name: peer
    port: 2380
    protocol: TCP
    targetPort: 2380
  selector:
    app: etcd