---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-scheduler-kubeconfig
  namespace: {{ namespace }}
data:
  kubeconfig: |
    apiVersion: v1
    kind: Config
    preferences: {}
    clusters:
      - name: {{ namespace }}
        cluster:
          server: "https://kube-apiserver:6443"
          certificate-authority: "/srv/kubernetes/pki/ca/tls.crt"
    users:
      - name: kube-scheduler
        user:
          client-certificate: "/srv/kubernetes/pki/kube-scheduler/tls.crt"
          client-key: "/srv/kubernetes/pki/kube-scheduler/tls.key"
    contexts:
      - name: kube-scheduler@{{ namespace }}
        context:
          cluster: {{ namespace }}
          user: kube-scheduler
    current-context: kube-scheduler@{{ namespace }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-scheduler
  namespace: {{ namespace }}
  labels:
    app: kubernetes
    role: scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubernetes
      role: scheduler
  template:
    metadata:
      labels:
        app: kubernetes
        role: scheduler
    spec:
      automountServiceAccountToken: false
      restartPolicy: Always
      tolerations:
        - effect: NoExecute
          operator: Exists
      containers:
        - name: kube-scheduler
          image: k8s.gcr.io/kube-scheduler:{{ kube_version }}
          imagePullPolicy: IfNotPresent
          command:
            - kube-scheduler
            - --kubeconfig=/srv/kubernetes/kube-scheduler/kubeconfig
            - --leader-elect=false
            - --v=2
          volumeMounts:
            - name: ca
              mountPath: /srv/kubernetes/pki/ca
            - name: kube-scheduler-cert
              mountPath: /srv/kubernetes/pki/kube-scheduler
            - name: kubeconfig
              mountPath: /srv/kubernetes/kube-scheduler
          livenessProbe:
            httpGet:
              path: /healthz
              ## This doesn't work after insecure port is removed.
              port: 10251
            initialDelaySeconds: 15
            timeoutSeconds: 15
            failureThreshold: 3
      volumes:
        - name: ca
          secret:
            secretName: ca
        - name: kube-scheduler-cert
          secret:
            secretName: kube-scheduler-cert
        - name: kubeconfig
          configMap:
            name: kube-scheduler-kubeconfig