apiVersion: v1
kind: Config
preferences: {}
clusters:
  - cluster:
      certificate-authority-data: {{ ca_cert }}
      server: https://{{ apiserver_address }}:6443
    name: {{ cluster_id }}
contexts:
  - context:
      cluster: {{ cluster_id }}
      user: {{ user }}
    name: {{ user }}@{{ cluster_id }}
users:
  - name: {{ user }}
    user:
      client-certificate-data: {{ cert }}
      client-key-data: {{ key }}
current-context: admin@{{ cluster_id }}
