---
apiVersion: v1
kind: Secret
metadata:
  name: ca
  namespace: {{ namespace }}
type: kubernetes.io/tls
data:
  tls.crt: {{ ca_cert }}
  tls.key: {{ ca_key }}

---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Issuer
metadata:
  name: ca-issuer
  namespace: {{ namespace }}
spec:
  ca:
    secretName: ca

---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: kube-apiserver
  namespace: {{ namespace }}
spec:
  secretName: kube-apiserver-certs
  issuerRef:
    name: ca-issuer
    kind: Issuer
  commonName: kubernetes
  organization:
    - Kubernetes
  dnsNames:
    - kubernetes.default
    - kube-apiserver
    - kube-apiserver.{{ namespace }}
  ipAddresses:
    - 127.0.0.1
    - {{ vip_port_ip }}
    - {{ vip_external_ip }}

---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: service-account
  namespace: {{ namespace }}
spec:
  secretName: service-account-certs
  issuerRef:
    name: ca-issuer
    kind: Issuer
  commonName: service-account
  organization:
    - Kubernetes

---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: kube-controller-manager
  namespace: {{ namespace }}
spec:
  secretName: kube-controller-manager-cert
  issuerRef:
    name: ca-issuer
    kind: Issuer
  commonName: system:kube-controller-manager
  organization:
    - system:kube-controller-manager

---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: kube-scheduler
  namespace: {{ namespace }}
spec:
  secretName: kube-scheduler-cert
  issuerRef:
    name: ca-issuer
    kind: Issuer
  commonName: system:kube-scheduler
  organization:
    - system:kube-scheduler

---
apiVersion: certmanager.k8s.io/v1alpha1
kind: Certificate
metadata:
  name: cloud-controller-manager
  namespace: {{ namespace }}
spec:
  secretName: cloud-controller-manager-cert
  issuerRef:
    name: ca-issuer
    kind: Issuer
  commonName: system:cloud-controller-manager
  organization:
    - system:cloud-controller-manager
